<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@4.22.0/styles.min.css"/>
  </head>
  <body>
    <%= react_component("App") %>
  </body>
</html>
